@page "/quiz"
@using Microsoft.AspNetCore.Components.Forms
@using QuizApp.Blazor.Services;
@using QuizApp.Shared.Models.Quiz;

<Navbar />

<h1>Quiz Game</h1>

@if(questions == null)
{
    if (loading)
    {
        <h1>Loading...</h1>
    }
    else
    {
        <input @bind="inputValue" />
        <button @onclick="() => GetQuiz(inputValue)">Get Quiz</button>
    }
}
else
{
    if(runGame)
    {
        var question = questions
            .Where(x => x.Id == questionId)
            .FirstOrDefault();

        if(question != null && question.Options != null)
        {
            <h2>@question.Question</h2>
            @*@foreach (var option in question.Options)
            {
                <button @onclick="() => Guess(option, question.Id)">@option</button>
            }*@

            <ToggleButton Options="question.Options" OnSubmit="(args) => SubmitHandler(args)"/>
        }
    }
    else
    {
        var result = answers.Where(a => a == true).Count();

        <h2>Resultat: @result/@questions.Count()</h2>
        <button @onclick="PlayAgain">Spela igen</button>
    }
}

@code {
    [Inject]
    public IChatGptService? _chatGptService { get; set; }
    private IEnumerable<QuizQuestionDto> questions;

    private int questionId = 1;
    private bool runGame = true;
    private bool loading = false;
    private string inputValue = "";
    private List<bool> answers = new();

    private async void GetQuiz(string input)
    {
        loading = true;
        questions = await _chatGptService.QuizFromGptAsync(input);
        runGame = true;
        loading = false;
        StateHasChanged();
    }

    private void SubmitHandler(string guess)
    {
        var isCorrect = questions
            .Where(x => x.Id == questionId)
            .FirstOrDefault()?.CorrectAnswer == guess;

        questionId++;

        if (isCorrect)
        {
            answers.Add(true);
        }
        else
        {
            answers.Add(false);
        }

        if (answers.Count == questions.Count())
        {
            runGame = false;
        }
    }

    private void PlayAgain()
    {
        questionId = 1;
        runGame = true;
        answers = new();
    }
}
