@page "/quiz"
@using Microsoft.AspNetCore.Components.Forms
@using QuizApp.Blazor.Services;
@using QuizApp.Shared.Models.Quiz;

<Navbar />

@if(questions == null)
{
    if (loading)
    {
        <h1>Loading...</h1>
    }
    else
    {
        <input @bind="inputValue" />
        <button @onclick="() => GetQuiz(inputValue)">Get Quiz</button>
    }
}
else
{
    if(runGame)
    {
        var question = questions
            .Where(x => x.Id == questionId)
            .FirstOrDefault();

        if(question != null && question.Options != null)
        {
            <div class="container">
                <div class="row">
                    <h2>@question.Question</h2>
                </div>
                <ToggleButton 
                    Options="question.Options"
                    Correct="@question.CorrectAnswer"
                    IsValidated="isValidated" 
                    OnSubmit="(args) => SubmitHandler(args)"/>
            </div>
        }
    }
    else
    {
        <Result Results="answers" />
    }
}