<div class="quiz-buttons">
    @foreach (var button in buttons!)
    {
        var option = Options[button.Key - 1];
        <button 
            class="@button.Value" 
            @onclick="() => Choice(button.Key, option)">
                @option
        </button>
    }
</div>

<div class="row">
    <button class="quiz-submit" @onclick="InvokeOnSubmit">Submit</button>
</div>


