<div>
    @foreach (var button in buttons!)
    {
        var option = Options[button.Key - 1];
        <button class="@button.Value" @onclick="() => Choice(button.Key, option)">@button.Key. @option</button>
    }
</div>

<button @onclick="InvokeOnSubmit">Submit</button>


